<!DOCTYPE html>
<html lang="en">
  <head>
{{>headerlinks}}
  </head>
  <body>
{{>navbar}}

    <!-- main header -->


    <div class="container-fluid main_header mt-4 error_box">
        <div class="row">
          <figure>
            <img src="./images/error3.png" class="img-fluid">
          </figure>
        </div>
      </div>

      <!-- footer code -->
      {{>footer}}
  </body>
</html>
