<!DOCTYPE html>
<html lang="en">
  <head>
{{>headerlinks}}
  </head>
  <body>
{{>navbar}}

    <!-- main header -->

    <div class="container-fluid main_header mt-4">
      <div class="row">
        <div class="col-md-6 col-12 main_header_right align-items-center">
          <figure>
            <img src="./images/abt22.png" class="img-fluid" alt="image" />
          </figure>
        </div>
        <div class="col-md-6 col-12 main_header_left">
          <p>Designed By Abishek Upadhyay</p>
          <h1>I am a <span>Blockchain</span> developer</h1>
          <a href="https://abishekupadhyay202.wixsite.com/abishek-upadhyay" target="jaare"><button>About Me</button></a>
        </div>
      </div>
    </div>

    <!-- footer code -->
{{>footer}}
  </body>
</html>
